html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.theme-color {
  color: #1daa61;
}

header {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

footer .copyright {
  text-align: center;
}

footer a {
  color: #1bb76e;
  text-decoration: none;
  transition: 0.25s;
}

footer a:hover {
  color: #ff5500;
}

.menuToggle {
  display: block;
  position: relative;
  top: 50px;
  z-index: 100;
  -webkit-user-select: none;
  user-select: none;
}

.menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: all 0.3s ease;
}

.menuToggle a:hover {
  color: tomato;
}

.menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  cursor: pointer;
  opacity: 0;
  z-index: 350;
  -webkit-touch-callout: none;
}

.menuToggle div span {
  position: relative;
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 330;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menuToggle div span:first-child {
  transform-origin: 0% 0%;
}

.menuToggle div span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.menuToggle input:checked ~ div span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

.menuToggle input:checked ~ div span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggle input:checked ~ div span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
  position: relative;
  top: 25px;
}

.menuToggle input:checked ~ .menuItem {
  transform: none;
}

.menuItem {
  position: absolute;
  z-index: 300;
  width: 300px;
  height: 100vh;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menuItem li {
  padding: 10px 0;
  font-size: 22px;
}

.menu--right {
  position: fixed;
  right: 0;
  z-index: 300;
}

.menu--right .menuToggle input {
  right: 50px;
}

.menu--right .menuToggle span {
  right: 50px;
}

.menu--right .menuItem {
  right: 0;
  margin: -100px 0 0 0;
  transform: translate(100%, 0);
}

.menu--right .menuItem li a:hover {
  padding-left: 5px;
}

@keyframes text-slide-in {
  0% {
    transform: translateX(100px);
  }

  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 600px) {
  .menu--right .menuToggle input {
    right: 5px;
  }

  .menuToggle {
    top: 30px;
  }

  .menuToggle div span {
    height: 3px;
  }

  .menuToggle div {
    position: absolute;
  }
}
